# Byte-compiled / optimized / DLL files
*.so*
*.dll
*.dylib
*/__pycache__/
*.py[cod]
*.pynb_*/*
*/.vs/
*.json
*.suo
*.wsuo
*.vsidx
*.sqlite
# pixi environments
.pixi/*
!.pixi/config.toml
EnergyModels/**
build/**
notebooks/.ipynb_checkpoints/**
tutorials/.ipynb_checkpoints/**
notebooks/iframe_figures/**
tutorials/iframe_figures/**
src/topologicpy.egg-info/**
tutorials/_site/**